.container-fluid {
    font-family: var(--font-inter), sans-serif;
    background-color: #ffffff;
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-inter), sans-serif;
  }
.titlle{
    font-family: var(--font-inter), sans-serif;
    color: black;
    font-weight: bold;
    font-size: 40px;
}
  container-fluid{
    background-color: #ffffff;
  }
  
  .nav-item:hover {
    background-color: #f3f4f6; /* Cambia esto al color que desees */
    transform: translateX(1.5px); /* Esto moverá el enlace 10px a la derecha */
    font-weight: bold;
  }
  .menu{
    background-color: #fafbfb;
  }

.myButton {
    background-color: #f0f0f0; /* Color original del botón */
    color: black; /* Color del texto */
    font-family: var(--font-inter), sans-serif;
    border-radius: 10px;
}

.myButton:hover {
    background-color: #b5bfb55e; /* Color del botón cuando pasas el cursor por encima */
}